<?xml version="1.0" encoding="UTF-8"?>
<atv>
  <head>
		<script src="http://cbs-staging.phunware.com/sample-xml/js/main.js"/>
	</head>
	<body>
		<scroller fixedHeader="true" id="com.sample.tv-room">
			<header>
				<simpleHeader accessibilityLabel="TV room">
					<title>Room Title Stays At Top</title>
					<image required="true">http://cbs-staging.phunware.com/sample-xml/images/ZYXLogo.png</image>
				</simpleHeader>
			</header>
			<items>
				<grid id="grid_0" columnCount="7">
					<items>
						<% 3.times do |x| %>
						<squarePoster id="no_focus_<%=x+1%>" accessibilityLabel="No Day <%=x+1%>" acceptsFocus="false">
							<image src720="resource://Square.png" src1080="resource://Square.png" />
							<defaultImage>resource://Square.png</defaultImage>
						</squarePoster>
						<% end %>
						<% 30.times do |x| %>
						<squarePoster alwaysShowTitles="true" id="item_<%=x+1%>" accessibilityLabel="TV Show <%=x+1%>" onSelect="atvutils.loadURL('http://cbs-staging.phunware.com/sample-xml/tv-episode.xml');" onPlay="atvutils.loadURL('http://cbs-staging.phunware.com/sample-xml/sample-video/file-video-player.xml');">
							<title>TV Show <%=x+1%></title>
							<subtitle>Episode Name</subtitle>
							<image src720="http://cbs-staging.phunware.com/sample-xml/images/720p/tv1.png" src1080="http://cbs-staging.phunware.com/sample-xml/images/1080p/tv1.png" />
							<defaultImage>resource://Square.png</defaultImage>
						</squarePoster>
						<% end %>
					</items>
				</grid>
			</items>
		</scroller>
	</body>
</atv>